body{
    background: rgb(40, 107, 253);
    font-family: Arial, Helvetica, sans-serif;
}

#form{
    width:300px;
    margin: 20vh auto 0 auto;
    padding:20px ;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;

}
#form button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: rgb(255, 242, 242);
    background-color: rgb(76, 181, 162);
    border: none;
    border-radius: 4px;
}

.input-control{
    display: flex;
    flex-direction: column;
}
.input-control input{
    border: 2px solid rgb(20, 2, 2);
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 90%;
}

.input-control input:focus{
    outline: 0;
}
.input-control.success input{
    border-color: rgba(2, 247, 2, 0.648);
}

.input-control.error input{
    border-color: rgb(219, 4, 44);
}
.input-control .error{
    color: #ff2450;
    font-size: 9px;
    height: 13px;
}

.mygclass{
    display: inline-block;
}